* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F2%2F56%2F9RekFJ.jpg&f=1&nofb=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.box-calendar {
    width: 40vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.calendar {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background-color: white;
}

.box-calendar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.box-calendar-top button {
    width: 30px;
    height: 30px;
    border-radius: 5px;

}

.box-calendar-top span {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    width: 300px;
    text-align: center;
    text-transform: capitalize;

}

.ggCalendario {
    width: calc(100% / 7);
    height: calc(100% / 5);
    border: 1px solid black;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    justify-content: center;
    font-size: 10px;
    text-transform: capitalize;
    text-align: center;

}

.festivo {
    color: red;
    font-weight: bold;
}
