* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.wallpapersafari.com/35/68/dJTcwn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.box-calendar {
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.calendar {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;

}

.box-calendar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;

}

.box-calendar-top button {
    width: 30px;
    height: 30px;
    border-radius: 5px;

}

.prev:disabled {
    background-color: white;
    color: #ececec;
    cursor: not-allowed;

}

.succ:disabled {
    background-color: white;
    color: #ececec;
    cursor: not-allowed;

}

.box-calendar-top span {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    width: 300px;
    text-align: center;
    text-transform: capitalize;

}

.ggCalendario, .ggCalendario2 {
    width: calc(100% / 7);
    height: 100px;
    border: 1px solid white;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    justify-content: center;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;

}

.festivo {
    color: red;
    font-weight: bold;
    font-size: 15px;
}
